* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}
a {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.nav-container li {
  display: inline-block;
  padding: 0 15px;
}
.btn {
  color: #fff;
  background-color: #0069d9;
  border-color: #0069d9;
  transition: all 0.2s linear;
  padding: 10px 12px;
  border-radius: 18px;
}
.navigation {
  display: flex;
  align-items: center;
}
.company-logo {
    width: 150px;
}
img{
    vertical-align: middle;
    border-style: none;
}
.logo-img {
    max-width: 100%;
    height: auto;
    width: 250px;
    height: 85px;
    object-fit: cover;
}
.hamburger-menu {
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.nav-container {
  margin-left: auto;
}
.banner-wrapper{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  position: relative;
}
.banner-wrapper h1, .banner-wrapper p{
  color: #fff;
  z-index: 1;
}
.banner-wrapper h1{
  font-size: 40px;
}
.banner-wrapper p{
  font-size: 22px;
}
.banner-wrapper::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #171615;
  opacity: 0.3;
  z-index: 0;
}
@media screen and (max-width: 767px) and (min-width: 0px) {
  .navigation {
    display: block;
    padding-bottom: 15px;
  }
  .nav-container li {
    display: block;
    padding: 15px;
    text-align: center;
  }
}
